<% if (typeof error !== 'undefined' && error) { %>
  <div class="flash error"><%= error %></div>
<% } %>
<% if (typeof info !== 'undefined' && info) { %>
  <div class="flash info"><%= info %></div>
<% } %>
